<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chats</title>

</head>
<body>
    <p>Edit Your chat : <%= chat._id %></p>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>

    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" rows="5" cols="10"><%=chat.msg%></textarea>
        <button>Edit</button>
    </form>
</body>
</html>